<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}MSG Users{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>