{% load static %}
<html>
<head>
    <title>MSGUsers Authentication</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="username" id="username" required></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" required></td>
            </tr>
        </table>
        <button type="submit">Login</button>
    </form>
</body>
</html>