{% extends 'base.html' %}


{% block content %}
<br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered table-light">
            {{form.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-warning float-right">Update</button>
    </form>
{% endblock content%}